*{
    padding: 0;
    margin: 0;
    }

#preloader{
    background: #fff url(images/loader.gif) no-repeat center center;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 100;
}

.logo{
float: left;
}
.nav_right{
float: right;
}
.nav_right ul li a{
    font-family: 'Acme', sans-serif;
    margin-right: 30px;
    font-size: 20px;
}

.nav_right ul li button{
    font-family: 'Acme', sans-serif;
    font-size: 20px;
}

.logo a{
    font-family: 'Moon Dance', cursive;
}
.first_section .container button{
    width: 150px;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}
.first_section{
background-color: #DAEAFF;
height: 40rem;
}

.first_section img{
    width: 100%;
    height: auto;
}

.carousel-inner .carousel-item img{
    width: 100%;
    height: auto;
}

.navbar ul li{
    display: inline;
}
.first_section .container{
    background-image: url(images/Ways-in-Which-Web-Application-Development-is-Changing.png);
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}


.first_section .container .row h1{
    font-size: 7rem;
    color: #db4b76;
    font-family: 'Moon Dance', cursive;
    }
    .first_section .container .row ul li{
        display: inline;
    }
    .first_section .container .row ul{
        margin-top: 40px;
    }
.foo{
    text-align: start;
    letter-spacing: -1px;
    color: white;
}
.footer .logo a{
    font-size: 30px;
}

.title h1{
    text-align: right;

}
.first_webD .title h1{
    text-align: left;

}

.title_web h1{
    font-size: 60px;
}

.header{
    font-size: 40px;
    text-align: center;
    font-weight: bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.modal1{
    float: right;
}

.language .container .row img{
    max-width: 200px;
    max-height: 100px;
}

#services .container .row img{
    max-width: 100px;
    max-height: 150px;
}


.clear{
    clear: both;
}

.blog11{
    background-color: #61aafdb4;

}

.blog1 .container .car img{
    max-height: 370px;
    max-width: 280;
}


.formIcon .container .row i{
    font-size: 40px;
}

.formIcon .row a{
    width: 100px;
}

.navigation_bar_form{
    background-color: #5880AA;
    border-radius: 20px;
    width: 500px;
}

.navigation_bar_form a{
    font-size: 15px;
    color: #FA9374;;
    font-weight: 700;
}

ul li{
    text-decoration: none;
    list-style-type: none;
}

.dynamic{
    background-color: cadetblue;
    border-radius: 100px;
    padding: 20px 10px;
}

.merging{
    background-color: rgba(91, 116, 187, 0.733);
    border-radius: 100px;
    padding: 20px 10px;
}

.bd{
    background-color: #132E3E;
}

.form-label{
    color: white;
}
.ico{
    color: #FA9374;
    font-family: 'Times New Roman', Times, serif;
}

.second_section .carousel-item img{
    width: 200px;
    height: 400px;
}

.third_section .carousel-item img{
    width: 200px;
    height: 300px;
}

.forth_section .carousel-item img{
    width: 200px;
    height: 400px;
}
.third_section{
    background-color: rgb(112, 233, 221);
}
      
.home{
        background-image: url(images/portfolio_background.jpg);  
        width: 100%;
        height: 30rem;
        background-size: cover;
        background-position: center;
        z-index: 2;
        position: relative;
        background-attachment: fixed;
    }
    
    
.home p{
    color:rgb(7, 87, 124);
}


.no{
    padding: 80px 0px;
    height: 42rem;
    color: #f5a694;
}
.no h1{
    font-family: 'Corinthia', cursive;
    font-size: 5rem;
}
.no h3{
    font-family: cursive;
    font-size: auto;
}

.flexx{
    background-image: url(fg.jpg);
    background-size: cover;
    height: 1021px;
}

footer{
    background-color: #15323A;
}
footer a{
    color: white;
}

footer .f1 h6{
    color: white;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4px;;
}

footer .f2 h6{
    color: white;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4px;;
}

footer .f1 ul li{
    color: white;
    letter-spacing: 3px;;

}
footer .f2 ul li{
    color: white;
    letter-spacing: 3px;;
}

.first_graphics h1{
    font-family: 'Acme', sans-serif;
    letter-spacing: 5px;
    font-size: 50px;
}
.navigation_bar ul li a{
    font-family: 'Montserrat', sans-serif;

}

.card {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
}

.first_graphics{
    background-image: url(images/—Pngtree—pure\ watercolor\ gradient\ colorful\ background_964413.jpg);
    background-repeat: no-repeat;
}

.nav-item a{
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
  margin-right: 10px;
}

#learn h1{
    font-family: 'Montserrat', sans-serif;

}

.first_web{
    justify-content: center;    

}

.web{
    background-repeat: no-repeat;
}

.small{
    color: rgb(6, 87, 179);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
}
.first_web{
    background-color:rgb(89, 208, 238)

}
.weeb{
    padding: 10px 20px;
    width: 250px;
    margin-bottom: 0px;
    color: rgb(255, 255, 255);
    font-style: oblique; 
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
     box-shadow: 0 10px 6px -6px #777;
  border-radius: 10px;
}
.weebb{
    padding: 10px 20px;
    width: 350px;
    margin-top: 0px;
    color: white;
    font-style: oblique;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
  border-radius: 10px;

}


.navv button{
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
}
.weebd{
    background-color: rgb(255, 255, 255);
    padding: .5rem .5rem;
    margin-bottom: 0px;
    color: rgb(112, 233, 221);
    font-style: oblique;  
}
.weebbd{
    padding: .5rem .5rem .5rem .5rem;
    margin-top: 0px;
    color: white;
    font-style: oblique;
    width: 40rem;
    border-radius: 1rem;
}

.type{
    color: red;
}

.type1{
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
}
.type2{
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
}
.type3{
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
}
.weed{
    font-family: 'Acme', sans-serif;
    letter-spacing: 5px;
}
.blk{
    display: inline block;
    padding: 30px 30px 70px 30px;
    background-color: rgba(148, 202, 193, 0.171);
    margin-bottom: 10px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
  justify-content: center;
  border-radius: 5px;
}
.webcard img{
    height: 10rem;
}

.blk h6{
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-spacing: 15px;
    font-size: 20px;
}
.info{
    background-color: black;
    color: rgb(255, 255, 255);
}
.info h4{
    letter-spacing: 10px;
    }

.hh4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 2px;
    font-size: 40px;
    color: rgb(44, 104, 214);;
}
.hh5{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: bold;
}

.blk_ll{
    background-color: rgb(44, 104, 214);
}

.blk_l img{
    width: 80px;
}

.rr ul li{
    display: inline-block;
    width: 350px;
}
.h5h{
    font-family: 'Acme', sans-serif;
    letter-spacing: 2px;
}

.tt{
    transition: transform 250ms;
    margin-top: 20px;
}
.tt:hover{
    transform: translateY(-15px);
}
.me{
    transition: transform 250ms;
}
.me:hover{
    transform: scale(1.3);
}

#services{
    padding: 100px 0px;
}

.initial{
    background-image: url(images/background_image.jpg);
    background-attachment: fixed;
    position: relative;
    z-index: -1;
    width: 100%;
    height: fit-content;


}

.initiall::after{
    top: 0%;
    bottom: 0%;
    position: absolute;
    background-color: rgb(96, 240, 156);
    z-index: 2;
    opacity: .3;
    content: "";
    height: 100%;
    width: 100%;
}



#expertise{
    background-color: #61aafd;
}

.addOns{
    background-color: rgb(112, 233, 221);
}

.md-hamb {
    display: inline-block;
}

/* This changes all the animations globally */
:root {
    --animate-duration: 5s;
    --animate-delay: 0.9s;
  }


  tr{
      margin-bottom: 10px;
  }
td{
    margin-right: 15px;
}

.blog2{
    background-color: rgb(4, 223, 175);
}

#home1 img{
   height: 15rem;
}
.iimg img{
    height: 33rem;
    width: 45rem;
 }

#top img{
    height: 15rem;
 }

 #new img{
    height: 15rem;
 }

 #abstract img{
    height: 15rem;
 }
 #banner img{
    height: 15rem;
 }
 #D3D img{
    height: 15rem;
 }
 #illustration img{
    height: 15rem;
 }














 * { box-sizing: border-box; }



.rating {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  flex-direction: row-reverse;
  height: 150px;
  position: relative;
}

.rating-0 {
  filter: grayscale(100%);
}

.rating > input {
  display: none;
}

.rating > label {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-top: auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  transition: .3s;
}

.rating > input:checked ~ label,
.rating > input:checked ~ label ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}


.rating > input:not(:checked) ~ label:hover,
.rating > input:not(:checked) ~ label:hover ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.emoji-wrapper {
  width: 100%;
  text-align: center;
  height: 100px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.emoji-wrapper:before,
.emoji-wrapper:after{
  content: "";
  height: 15px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
}

.emoji-wrapper:before {
  top: 0;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 35%,rgba(255,255,255,0) 100%);
}

.emoji-wrapper:after{
  bottom: 0;
  background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 35%,rgba(255,255,255,0) 100%);
}

.emoji {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .3s;
}

.emoji > svg {
  margin: 15px 0; 
  width: 70px;
  height: 70px;
  flex-shrink: 0;
}

#rating-1:checked ~ .emoji-wrapper > .emoji { transform: translateY(-100px); }
#rating-2:checked ~ .emoji-wrapper > .emoji { transform: translateY(-200px); }
#rating-3:checked ~ .emoji-wrapper > .emoji { transform: translateY(-300px); }
#rating-4:checked ~ .emoji-wrapper > .emoji { transform: translateY(-400px); }
#rating-5:checked ~ .emoji-wrapper > .emoji { transform: translateY(-500px); }

.feedback {
  max-width: 360px;
  background-color: #fff;
  width: 100%;
  padding: 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0 4px 30px rgba(0,0,0,.05);
}

.rar .container .row{
    font-family: 'Montserrat', sans-serif;
    color: rgb(251, 255, 13);
}

.wd{
    background-color: rgba(12, 106, 122, 0.63);
}

.title_web img{
    border-radius: 20%;
}

.leave_c{
    background-color: rgba(121, 121, 121, 0.479);
}